<div class="swiper-slide">
  <a class="slider__link" href="#">
    <div class="slider__img-wrapper">
      <div class="slider__img">
        <img src="img/slides/slider-2/@@img.src.@@img.formate" width="1200" height="540" alt="@@img.alt">
      </div>
    </div>
    <div class="slider__content">
      <div class="slider__top">
        <p class="slider__discount">@@discount</p>
        <p class="slider__percent">@@percent</p>
      </div>
      <div class="slider__bottom">
        <p class="slider__name">@@name</p>
      </div>
    </div>
  </a>
</div>
