@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Gilroy";
  font-display: swap;
  src:
    url("../fonts/gilroy-regular.woff2") format("woff2") // url("../fonts/.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 600;
  font-family: "Gilroy";
  font-display: swap;
  src:
    url("../fonts/gilroy-semibold.woff2") format("woff2") // url("../fonts/.woff") format("woff");
}
